.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.display-4{
  color: #AF3434;
  font-family: 'Roboto', sans-serif;
}

.lead{
  font-family: 'Roboto', sans-serif;
}

.button{
  border-radius: 4px;
  background-color: #AF3434;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  text-align: center;
}

.button:hover {
  background-color: black;
  color: white;
}

h3{
    color: #AF3434;
}

#padding{
  padding: 35px;
}
.skills{
  text-align: center;
}
h2{
  text-align: center;
  font-style: 'Roboto', sans-serif;
  font-size: 4em;
}

.fab fa-linkedin{
  background-color: black;
}
